@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*  ========================================================== */
/* FRONT PAGE CSS */
/*  ========================================================== */

.vehicleMakeSelect, .vehicleYearSelect {
  width: 20%;
  padding: 8px;
  border: 1px solid  var(--foreground);
  border-radius: 4px;
  background-color: var(--background) !important;
  color: var(--foreground);
  font-size: 1rem;
  margin-bottom: 15px;
  transition: all 0.1s ease-in-out !important;
}

.vehicleMakeSelect:hover, .vehicleYearSelect:hover, .vehicleMakeSelect:focus, .vehicleYearSelect:focus {
  outline: none;
  border-color: red;
  box-shadow: 0 0 5px red;
}

.resetBtnEnable {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid  var(--foreground);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 20% !important;
  transition: all 0.2s ease-in-out !important;
}

.resetBtnEnable:hover {
  background-color: rgba(255, 0, 0, 0.189);
  color: red;
  border: 1px solid  red;
  transition: all 0.2s ease-in-out !important;
}

.resetBtnDisable {
  background-color: var(--background);
  color: color-mix(in srgb, var(--foreground) 40%, black);
  border: 1px solid color-mix(in srgb, var(--foreground) 40%, black) !important;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: not-allowed;
}

/*  ========================================================== */
/* PRODUCT CARDS */
/*  ========================================================== */

.productCard {
  border: 1px solid  var(--foreground);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out !important;
  width: 100% !important;
}

.productCard:hover {
  box-shadow: 0 6px 10px var(--background);
  border: 1px solid red !important;
  transform: translateY(-2px);
}

.productTitle {
  font-size: 1.25rem;
  font-weight: bolder;
}

/*  ========================================================== */
